body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

//------------//
//-------------------------------- Variables and helpers--------------------------------------------------------//
//------------//

@import 'variables';

//------------//
//-------------------------------- SASS Mixins-----------------------------------------------------------------//
//------------//

@import 'mixins';

//------------//
//-------------------------------- Main layout and typography---------------------------------------------------//
//------------//

@import 'layout';

//------------//
//-------------------------------- Styles for components and common blocks----------------------------------------//
//------------//

@import 'common/**/*';

//------------//
//-------------------------------- Styles for pages--------------------------------------------------------------//
//------------//

@import 'pages/*';

//------------//

