@mixin centered-by-translate($axis: 'both') {
  position: absolute;

  @if $axis == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin centered-by-margin($m-left, $m-top) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: $m-left;
  margin-top: $m-top;
}

%clearfix {
  &:after, &:before {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin widescreen() {
  @media screen and (min-width: 1441px) {
    @content;
  }
}

@mixin desktops() {
  @media screen and (max-width: 1024px) {
    @content;
  }
}


@mixin tablets() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: 480px) {
    @content;
  }
}