$olive : #ebefe2;
$grey: #e1e4d7;
$beige: #f4f5f0;
$brand-green: #4e8839;
$light-green: #6c9c5a;
$dark-green: #373e42;
$link-color: #6da3bd;
$white: #f8f9f5;
$brown: #5d5a55;
$pale: #faf8f0;

$main-font-color : #566358;
