.form.blur-form__wrapper
    .blur-form
    form(action='#' method='POST' id='ajax_form').form__content
        .subtitle.form__title
            | связаться со мной
        .form-fields
            mixin inputs(type, placeholder, id)
                input(type=type placeholder=placeholder id=`auth-input--${id}` name=id ).form-fields__field
            .form-fields__form
                +inputs('text','Имя', 'name')
                +inputs('text','Email', 'email')
                textarea(placeholder='Ваше сообщение', id='auth-input--mess' name='mess' rows='6').form-fields__field
            .server-mes.error-mes
            .server-mes.success-mes
        .user-nav.form-nav
            button(class='user-nav__item form-nav__btn' type='submit' name='submit')
                span.user-nav__link Отправить
            button(class='user-nav__item form-nav__btn clear' type='reset')
                span.user-nav__link Очистить
