.slide-blocks
    .slide-blocks__left
    .slide-blocks__right
    ul.popup-menu
        li.popup-menu_item
            a(href='works').popup-menu_link.title Мои работы
        li.popup-menu_item
            a(href='about').popup-menu_link.title Обо мне
        li.popup-menu_item
            a(href='blog').popup-menu_link.title Блог
        li.popup-menu_item
            a(href='index').popup-menu_link.title Авторизация