.user
    .user__photo
        img.user__photo-avatar(src='../../assets/img/ava11.jpg' alt='user-photo')
    .user__name
        | Алексей Исаев
    .header__desc
        | Личный сайт веб-разработчика