.socials {
  display: inline-block;

  &__item {
    margin-left: 22px;
    display: inline;

    &:first-child {
      margin-left: 0;
    }
  }
  &__icon {
    height: 24px;
    width: 30px;
    fill: #fff;

    //@include phones {
    //  height: 14px;
    //  width: 25px;
    //}

    &:hover {
      fill: $brand-green;
    }
  }
}