.triangle {
  height: 100px;
  position: absolute;
  bottom: 100%;
  width: 50%;

  @include phones {
    height: 50px;
  }

  &--fill {
    &--olive {
      fill: $olive;
    }
    &--beige {
      fill: $beige;

      @include tablets {
        fill: $olive;
      }
    }
    &--yellow {
      fill: $white;
    }
    &--navajo{
      fill: $pale;
    }
  }
}

.portfolio__triangle--left, .blog__triangle--left, .about-triangle--left {
  left: 0;
}

.portfolio__triangle--right, .blog__triangle--right, .about-triangle--right {
  right: 0;
}
