extends ../_template

block content
  include ../common/_greating
  include ../common/_menu


  ul.article-wrap
    each index in items
        li.article
          .article__title= index.title
            - 
              var data = new Date(index.date).toLocaleDateString('ru', { 
                              year: 'numeric', 
                              month: '2-digit', 
                              day: '2-digit'
                              })
          .article__data= data
          .article__text= index.body